# Vivado Project Files
.Xil/*
*.cache/*
*.data/*
*.hw/*
*.ip_user_files/*
*.log
*.jou
*.str
*.backup
*.bit
*.bin
*.elf
*.mcs
*.mem
*.sysdef
*.dcp
*.rpt
*.vdi
*.vds
*.xpr
*.dir
*.out
*.runs/*
*.sim/*
*.srcs/sources_1/bd/*/synth/*
*.srcs/sources_1/bd/*/sim/*
*.srcs/sources_1/bd/*/ip/*
*.srcs/utils_1/*
*.srcs/sim_1/*
*.sdk/*
*.hls/*
*.gen_run/*
*.tmp/*
*.html
*.xml
*.txt
*.csv
*.json
*.pdf
_ide/*
.settings/*
project_name.tcl.backup

# Board design sub-products
# Example for a board design named 'system' within 'src/design/bd'
src/design/bd/system/*
!src/design/bd/system/system.bd

# Vivado generated project directory
# If using a TCL script to create the project, ignore the entire project directory
vivado*
!vivado_startup.tcl # If you have a specific startup script to keep

# Eclipse/SDK related files
.metadata
.project
.cproject
.settings
Debug/
Release/